name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Altere para a branch que você deseja monitorar

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12.3'  # Use a versão do Python necessária

      - name: Install MkDocs
        run: |
          pip install mkdocs

      - name: Build the site
        run: |
          mkdocs build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site  # Diretório onde os arquivos gerados estão localizados
